연속 데이터를 그룹화하여 범주형 데이터로 분석하기

In [2]:
import pandas as pd
df = pd.read_csv('../datasets/German_credit/German_credit.csv')
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [3]:
# describe를 통한 Age 변수 확인
df['Age'].describe()

count    1000.000000
mean       35.546000
std        11.375469
min        19.000000
25%        27.000000
50%        33.000000
75%        42.000000
max        75.000000
Name: Age, dtype: float64

cut : 
- 특정 수치 범위를 일정한 길이를 가지는 n개의 구간으로 나눌 때 유용하게 사용

qcut : 
- 특정 수치 범위에 데이터가 분포해 잇을 대 각 구간별로 일정한 개수의 데이터가 포함되게끔 n개의 구간으로 나눌 때 사용 
- 각 구간의 길이는 일정하지 않을 수 있음

In [4]:
# cut 메서드를 이용한 수치형 변수 구간화
pd.cut(df['Age'], bins=8) # 8개의 구간으로 구간화

0        (61.0, 68.0]
1      (18.944, 26.0]
2        (47.0, 54.0]
3        (40.0, 47.0]
4        (47.0, 54.0]
            ...
995      (26.0, 33.0]
996      (33.0, 40.0]
997      (33.0, 40.0]
998    (18.944, 26.0]
999      (26.0, 33.0]
Name: Age, Length: 1000, dtype: category
Categories (8, interval[float64, right]): [(18.944, 26.0] < (26.0, 33.0] < (33.0, 40.0] < (40.0, 47.0] < (47.0, 54.0] < (54.0, 61.0] < (61.0, 68.0] < (68.0, 75.0]]

In [8]:
# 구간별 데이터 개수 확인
pd.cut(df['Age'], bins=8).reset_index().groupby('Age').size()  # .count() 도 가능

C:\Users\kitae\AppData\Local\Temp\ipykernel_16228\2753818172.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pd.cut(df['Age'], bins=8).reset_index().groupby('Age').size()

Age
(18.944, 26.0]    240
(26.0, 33.0]      276
(33.0, 40.0]      210
(40.0, 47.0]      123
(47.0, 54.0]       72
(54.0, 61.0]       41
(61.0, 68.0]       31
(68.0, 75.0]        7
dtype: int64

In [12]:
# cut 메서드를 통한 임의 구간화 - 구간을 직접 지정할 경우 리스트 형태로 지정
bins = [10, 20, 30, 40, 50, 60, 70, 80]
pd.cut(df['Age'], bins=bins)
pd.cut(df['Age'], bins=bins).reset_index().groupby('Age').count()

C:\Users\kitae\AppData\Local\Temp\ipykernel_16228\1826674950.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pd.cut(df['Age'], bins=bins).reset_index().groupby('Age').count()

          index
Age
(10, 20]     16
(20, 30]    395
(30, 40]    315
(40, 50]    161
(50, 60]     68
(60, 70]     39
(70, 80]      6

In [13]:
# right 인자를 이용한 오른쪽 닫힌 구간 범주화
bins = [10, 20, 30, 40, 50, 60, 70, 80]
pd.cut(df['Age'], bins=bins, right=False)

0      [60, 70)
1      [20, 30)
2      [40, 50)
3      [40, 50)
4      [50, 60)
         ...
995    [30, 40)
996    [40, 50)
997    [30, 40)
998    [20, 30)
999    [20, 30)
Name: Age, Length: 1000, dtype: category
Categories (7, interval[int64, left]): [[10, 20) < [20, 30) < [30, 40) < [40, 50) < [50, 60) < [60, 70) < [70, 80)]

In [14]:
# qcut
pd.qcut(df['Age'], q=8) # 8개의 구간으로 구간화

0      (49.125, 75.0]
1      (18.999, 24.0]
2      (42.0, 49.125]
3      (42.0, 49.125]
4      (49.125, 75.0]
            ...
995      (30.0, 33.0]
996      (36.0, 42.0]
997      (36.0, 42.0]
998    (18.999, 24.0]
999      (24.0, 27.0]
Name: Age, Length: 1000, dtype: category
Categories (8, interval[float64, right]): [(18.999, 24.0] < (24.0, 27.0] < (27.0, 30.0] < (30.0, 33.0] < (33.0, 36.0] < (36.0, 42.0] < (42.0, 49.125] < (49.125, 75.0]]

In [16]:
# qcut으로 나눈 범주형 변수의 구간별 데이터 개수 확인
pd.qcut(df['Age'], q=8, duplicates='drop').reset_index().groupby('Age').size()

C:\Users\kitae\AppData\Local\Temp\ipykernel_16228\2657639528.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pd.qcut(df['Age'], q=8, duplicates='drop').reset_index().groupby('Age').size()

Age
(18.999, 24.0]    149
(24.0, 27.0]      142
(27.0, 30.0]      120
(30.0, 33.0]      105
(33.0, 36.0]      111
(36.0, 42.0]      138
(42.0, 49.125]    110
(49.125, 75.0]    125
dtype: int64

조건을 만족하는 최대 연속 횟수 구하기

In [17]:
# 임의로 만든 시리즈 데이터 
s = pd.Series([0, 0, 1, 1, 0, 1, 1, 1, 1, 0])
s

0    0
1    0
2    1
3    1
4    0
5    1
6    1
7    1
8    1
9    0
dtype: int64

In [18]:
# cumsum 메서드를 통한 누적합
sc = s.cumsum()
sc

0    0
1    0
2    1
3    2
4    2
5    3
6    4
7    5
8    6
9    6
dtype: int64

In [19]:
# 곱하기 연산을 통한 누적곱
s.mul(sc)

0    0
1    0
2    1
3    2
4    0
5    3
6    4
7    5
8    6
9    0
dtype: int64

In [20]:
# diff 메서드를 통한 차분
# 원 데이터를 한 칸씩 뒤로 미루고 차분을 계산
s.mul(sc).diff()

0    NaN
1    0.0
2    1.0
3    1.0
4   -2.0
5    3.0
6    1.0
7    1.0
8    1.0
9   -6.0
dtype: float64

In [21]:
# 음수만 남기고 나머지는 NaN으로 처리
s.mul(sc).diff().where(lambda x: x<0)

0    NaN
1    NaN
2    NaN
3    NaN
4   -2.0
5    NaN
6    NaN
7    NaN
8    NaN
9   -6.0
dtype: float64

In [22]:
# 남은 은수 값을 ffill 메서드를 통해 앞쪽 값으로 채움
s.mul(sc).diff().where(lambda x: x<0).ffill()

0    NaN
1    NaN
2    NaN
3    NaN
4   -2.0
5   -2.0
6   -2.0
7   -2.0
8   -2.0
9   -6.0
dtype: float64

In [23]:
# 위에 구한 값을 원 데이터 s의 누적값인 sc와 더하기(NaN은 0으로 처리)
s.mul(sc).diff().where(lambda x: x<0).ffill().add(sc, fill_value=0)

0    0.0
1    0.0
2    1.0
3    2.0
4    0.0
5    1.0
6    2.0
7    3.0
8    4.0
9    0.0
dtype: float64